*{
	padding:0px;
	margin:0px;
}

body{
	height: 100%;
	width: 100%;
	background-color:#36384C;
}

.ControlOfSongCSS{
	height:80%;
	width:20%;
}

.PanelUserCSS{
	height:80%;
	width:80%;

}

.ListOfSongCSS{
	height:20%;
	width: 100%;
}
